p
{
	line-height: 1.4375rem;
	font-weight: 400;
	font-family: georgia,"times new roman",times,serif;
	color:0;
}
h2, h1
{
	font-family: georgia,"times new roman",times,serif;
}
ul {
padding: 0 0 0 0px;
}
dl, menu, ol, ul {
margin: 0em 0;
}
.StickyShare {
	position: fixed;
	top: 40%;
	left: 0%;
	margin-top: -125px;
	z-index: 99;
	background: url('../img/social.jpg') no-repeat top left;
	height: 150px;
}
.StickyShare li {list-style: none;}
.StickyShare li a {
	height: 50px;
	width: 51px;
	color: white;
	display: block;
	font-size: 30px;
}
.vco-slider-background {
	background-image: none;
	/*background-color: #FFF;*/
	background-color: rgba(255,255,255,.9);
	-webkit-box-shadow: -1px 0 17px 0 rgba(0,0,0,.65);
	-moz-box-shadow: -1px 0 17px 0 rgba(0,0,0,.65);
	box-shadow: -1px 0 17px 0 rgba(0,0,0,.65);
	margin-left: -5% !important;
}
#about-box {
	position:fixed;
	z-index: 99;
	border: 1px solid #c1c4c5;
	box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
	margin: 20px;
	background: #222;
	padding: 15px;
	color: #fff;
	line-height: 20px;
	float: left;
	width: 815px;
	height:220px;
	margin-top: -110px;
	margin-left: -407px;
	top:50%;
	left:50%;
	 opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}
#about-box h1
{

}

#about-box #left-about
{
	float:left;
	width:480px;
}

#about-box #right-about
{
	float:left;
	width: 315px;
	margin-left: 20px;

}
#about-box .continue {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
#overlay
{
	background: rgba(127, 127, 127, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6FFFFFF,endColorstr=#E6FFFFFF);
	zoom: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 98;
}

.dark-social
{
	width: 220px;
	float: left;
	margin-left: 27px;
	position: fixed;
	bottom: 15px;
	z-index: 3;
	font-size: 12px;
}

.dark-social ul 
{
	display: inline-block;
	margin-bottom: 10px;

}


.dark-social ul li
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	display: inline-block;
	margin-right: 10px;
	width: 50px;
}
.dark-social ul li.fb
{
	top: 0px;
	overflow: show;

}
.dark-social ul li.tw
{
	padding-top:3px;
	margin-right: 0;
}
.story-content .caption
{
	font-size: 0.7em;
	line-height: 1em;
}
.chat-transcript 
{
	font-family: "Courier New";
}